html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

html, body {
    font-family: "Roboto" ,sans-serif;
    height: 100%;
    font-size: 23px;
    line-height: 130%;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1250px;
    padding: 0 11px;
    margin: 0 auto;
}

.header {
    min-height: 100vh;
    background-image: url(../image/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
}

.header__logo {
    display: block;
    padding: 66px 0 23px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__item {
    width: 50%;
}

.header__item-content {
    margin: 54px 14px 70px;
}

.header__item-text {
    padding-bottom: 70px;
}

.text-1 , .text-2, .text-3 {
    font-family: "DrukWideBold", sans-serif;
}

.text-1 {
    font-weight: bold;
    font-size: 115px;
    line-height: 110px;
    color: #FFCC00;
}

.text-2 {
    font-weight: bold;
    font-size: 67px;
    line-height: 76px;
}

.text-3 {
    font-weight: bold;
    font-size: 47.5px;
    line-height: 47px;
    padding-bottom: 40px;
}

.text-4 {
    font-size: 27px;
    line-height: 32px;
}

.text-5 {
    font-size: 22.5px;
    line-height: 26px;
}

.header__item-btn {
    font-family: "Roboto Condensed", sans-serif;
    padding: 21px 33px;
    color: #000;
    background-color: #FFCC00;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}

.header__item-img{
    max-width: 729px;
    height: auto;
}

.footer {
    background: #0E0E0E;
    position:fixed;
    width: 100%;
    bottom: 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.mobile-app {
    margin-top: 10px;
}

.mobile-app img {
    width: 150px;
    height: 44px;
}

.app-store {
    margin-right: 33px;
}

.footer__text {
    text-decoration-line: underline;
    font-size: 23px;
    line-height: 27px;
}

.footer__icons {
    max-height: 50px;
    width: auto;
}

.footer__icons img + img{
    margin-left: 24px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
}

.popup__content {
    background-color: #171717;
    font-size: 23px;
    line-height: 130%;
    color: #fff;
    max-width: 600px;
    max-height: 600px;
    padding: 33px 63px 15px;
    /* overflow-y: auto; */
}

.popup__inner {
    position: relative;
}

.popup__closed  {
    position: absolute;
    right: 60px;
    top: 38px;
    z-index: 10;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    margin-top: 67px;
}

.popup__title {
    font-family: "DrukWideBold", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 34px;
}

.popup__text {
    font-size: 23px;
    line-height: 130%;
    padding-bottom: 52px;
}

.popup__text li{
    background: url(../image/list-icon.svg) no-repeat left 8px;
    padding-left: 20px;
}

.popup__text-list {
    margin-top: 30px;
}

@media (max-width: 1486px) {
    .text-1 {
        font-size: 90px;
        line-height: 85px;
    }

    .text-2 {
        font-size: 57px;
        line-height: 48px;
    }

    .text-3 {
        font-size: 33.5px;
        line-height: 38px;
        padding-bottom: 16px;
    }

    .text-4 {
        font-size: 23px;
        line-height: 27px;
    }

    .text-5 {
        font-size: 19px;
        line-height: 22px;
    }

    .header__item-text {
        padding-bottom: 50px;
    }

    .header__item-btn {
        padding: 15px 26px;
        font-size: 26px;
        line-height: 30px;
    }
    .header__item-img {
        width: 580px;
    }
    .footer__inner {
        min-height: 75px;
    }

    .footer__text {
        font-size: 18px;
    }
}

@media (max-width: 1220px) {
    .header__item-img {
        width: 510px;
    }
    .header__item {
        width: 75%;
    }
}

@media (max-width: 1024px) {
    .header__item-img {
        width: 460px;
    }
    .header__item {
        width: 80%;
    }
}

@media (max-width: 968px) {
    .header__logo {
        padding: 44px 0 18px;
    }

    .logo__img {
        width: 122px;
        height: auto
    }

    .header__inner {
        flex-wrap: wrap;
    }
    .header__item {
        text-align: center;
        margin: 0 auto;
    }

    .header__item-img {
        margin-top: 40px;
    }
}

@media (max-width: 826px) {
    .footer__icons-img {
        height: 35px;
        width: auto;
    }
    .mobile-app img {
        width: 125px;
        height: auto;
    }

    .app-store {
        margin-right: 16px;
    }

    .app-store {
        margin-right: 12px;
    }
}

@media (max-width: 724px) {
    .header__item {
        width: 100%;
    }
    .footer__icons-img {
        height: 28px;
        width: auto;
    }
    .mobile-app img {
        width: 115px;
        height: auto;
    }

    .app-store {
        margin-right: 12px;
    }

    .footer__inner {
        min-height: 100px;
        flex-wrap: wrap;
    }

   .item-2 {
       text-align: center;
        flex-basis: 700px;
        order: -1;
    }

    .popup__closed {
        right: 33px;
        top: 20px;
    }

    .popup__title {
    font-size: 19px;
    line-height: 15px;
    }

    .popup__text {
        font-size: 16px;
        padding-bottom: 36px;
    }
    .popup__content {
        max-width: 440px;
        max-height: 480px;
        padding: 26px 36px 12px;
    }

}

@media (max-width: 550px) {
    .logo__img {
        width: 86px;
        height: auto;
    }

    .header__item-img {
        width: 289px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .text-1 {
        font-size: 53px;
        line-height: 69px;
    }
    .text-2 {
        font-size: 31.2px;
        line-height: 31px;
    }
    .text-3 {
        font-size: 22.2px;
        line-height: 22px;
    }
    .text-4 {
        font-size: 12.5px;
        line-height: 15px;
    }
    .text-5 {
        font-size: 10.5px;
        line-height: 12px;
    }



    .logo__img {
        width: 86px;
        height: auto;
    }

    .header__item-img {
        width: 289px;
        height: auto;
    }

    .popup__closed {
        right: 8px;
        top: 20px;
    }

    .popup__title {
    font-size: 15px;
    line-height: 15px;
    }

    .popup__text {
        font-size: 12px;
    }

    .popup__content {
        max-width: 278px;
        max-height: 400px;
        padding: 26px 36px 12px;
    }

    .mobile-app img {
        text-align: center;
        width: 67.72px;
        height: 19.89px;
    }

    .footer__inner {
        min-height: 70px;
        flex-wrap: wrap;
        align-items: center;
    }

    .footer__text-link {
        font-size: 10px;
        line-height: 12px;
        }

    .footer__icons-img {
        height: 21px;
        width: auto;
    }

    .footer__icons img + img {
        margin-left: 10px;
    }
    .footer__icons {
        margin-bottom: -5px;
    }
}


